body {
    background-color: #ffffff;
    color: #2E2F42;

    font-family: Roboto, sans-serif;
    font-weight: 600;
    letter-spacing: 0.02em;
}

header {
    background-color: #ffffff;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 1px 6px rgba(46, 47, 66, 0.08);
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-subtitle {
    color: #2E2F42;

    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
    margin-top: 0;
}

.list-text {
    color: #434455;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
}

.subtitle {
    color: #2E2F42;

    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 72px;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    /* outline: 1px solid tomato; */
}

/* header */
.container.main-nav {
    display: flex;
    align-items: center;
}

.top-logo {
    color: #2E2F42;
    text-decoration: none;
    font-family: Raleway, sans-serif;

    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-iris {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
}

.list.nav {

    display: flex;
    margin-left: 77px;
}

.nav .item+.item {
    margin-left: 40px;
}

.list-item {
    color: #2E2F42;
    text-decoration: none;

    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    font-size: 16px;
    line-height: 1.5;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list.contact {
    display: flex;
    margin-left: auto;
}

.list .item-contact + .item-contact{
    margin-left: 40px;
}

.list-item:focus,
.list-item:hover {
    color: #4D5AE5
}

.contact {
    text-decoration: none;
    color: #434455;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
    color: #4D5AE5;
}

/* Положення поточної сторінки(синя лінія під nav) */
.list-item {
    position: relative;
}

.studio-line::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: #4D5AE5;

    opacity: 0;
    transform: scaleX(0);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-line:hover::after {
    opacity: 1;
    transform: scaleX(1);
}

.line-const::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100%;
    height: 4px;
    
    border-radius: 2px;
    background-color: #4D5AE5;
}

/* main */
/* section 1 - hero */
.hero {
    /* outline: 2px solid tomato; */

    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url("../images/people-office.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding: 192px 0;
    text-align: center;
    height: 603px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.hero-title {
    color: #ffffff;

    font-size: 56px;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 48px;
}

.hero-button {
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;

    padding: 16px 32px;
    align-items: center;

    font-weight: inherit;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    border: transparent;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:focus,
.hero-button:hover {
    color: #ffffff;
    background-color: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* section 2 - features */
.feat {
    padding: 120px 0;
}

.features.list {
    display: flex;
}

.description {
    width: 264px;
}

.description+.description {
    margin-left: 24px;
}

.thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
}

/* section 3 - specification */
.specification {
    padding-bottom: 120px
}

.list.act {
    display: flex;
}

.act + .act {
    margin-left: 24px;
}

/* section 4 - team */
.team {
    background-color: #F4F4FD;

    padding: 120px;
}

.list.photo-cards {
    display: flex;
    
}

.photo-cards {
    background-color: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

    width: 264px;
}

.photo-cards + .photo-cards {
    margin-left: 24px;
}

.team-text {
    padding: 32px 16px;
    text-align: center;
}


.thumb-networks {
    display: flex;
    height: 48px;
    margin-top: 8px;
}

.list.networks {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.network-item {
    fill: #f4f4fd;
    background-color: #4D5AE5;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.network-item:hover,
.network-item:focus {
    background-color: #31D0AA;
}

.network-li + .network-li {
    margin-left: 24px;
}


/* section 5 - customers */
.customers {
    padding: 120px 0;
}

.list-customers {
    display: flex;
}

.customers > h2 {
    letter-spacing: 0.03em;
    line-height: 1.2;
    margin-bottom: 72px;
}

.list-customers > li + li {
    margin-left: 24px;
}

.company {
    fill: #8E8F99;
    border: 1px solid #8E8F99;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company:hover,
.company:focus {
    fill: #4D5AE5;
    border: 1px solid #4D5AE5;
}


/* footer */
.bottom {
    background-color: #2E2F42;
    padding: 100px 0;
}

.license {
    margin-right: 120px;
}

.bottom-logo {
    color: #F4F4FD;
    text-decoration: none;

    display: block;
    margin-bottom: 16px;

    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.bottom-text {
    color: #E7E9FC;

    margin: 0;
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.container-footer {
    display: flex;
}


.subtitle-media {
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;

    margin-top: 0;
    margin-bottom: 16px;
}

.thumb-footer {
    width: 208px;
    height: 40px;
}

.footer-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    fill: #f4f4fd;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item:hover,
.footer-item:focus {
    background-color: #31D0AA;
}

.footer-neworks > li + li {
    margin-left: 16px;
}

.footer-neworks {
    display: flex;
    margin-top: 0;
}

.subscribe-title {
    margin-top: 0;
    margin-bottom: 16px;
    padding: 0;

    color: #ffffff;
    font-size: inherit;
    line-height: 1.5;
}

.form-subscribe {
    display: flex;
}

.container-footer > form {
    margin-left: 80px;
}

.input-mail {
    
    margin-right: 24px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-top: 8px;

    width: 264px;
    height: 40px;
    
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    outline: none;
}


.input-mail::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.input-mail:focus {
    border: 2px solid #ffffff;
}

.btn-submit {
    display: flex;
    align-items: center;
    padding: 8px 24px;

    width: 168px;
    height: 40px;

    letter-spacing: 0.06em;
    line-height: 1.5;
    font-weight: 700;
    background-color: #4D5AE5;
    color: #ffffff;
    cursor: pointer;
    border: transparent;
    border-radius: 4px;
}

.btn-submit:hover,
.btn-submit:focus {
    background-color: #404BBF;
}

.icon-subscribe {
    margin-left: 16px;
    width: 24px;
    height: 24px;
}


/* styles portfolio */
/* buttons under header */
.filters {
    padding-top: 96px;
    padding-bottom: 120px;
}

.list.second-buttons {
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
}

.buttons-item+.buttons-item {
    margin-left: 24px;
}

.filtr-buttons {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12px 24px;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: #4D5AE5;
    background-color: #E7E9FC;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtr-buttons:hover,
.filtr-buttons:focus {
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 2px 1px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* photocards */
.workcards-link {
    color: inherit;
    text-decoration: inherit;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.workcards-link:hover,
.workcards-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list.works {
    display: flex;
    flex-wrap: wrap;
}

.workcards {
    display: flex;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    border: 0.5px solid #F4F4FD;

    width: 360px;
    margin-right: 24px;
    margin-bottom: 48px;
}

.img {
    display: block;
}

.workcards:nth-child(3n) {
    margin-right: 0;
}

.workcards:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.workstext {
    padding-left: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.cards-subtitle {
    font-size: 20px;
    line-height: 1.2;

    margin-top: 0;
    margin-bottom: 8px;
}

.cards-filters {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    margin-top: 0;
    margin-bottom: 0;
}

.overlay {
    position: relative;
    overflow: hidden;
}

.cards-text {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;

    margin: 0;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    color: #F4F4FD;
    background-color: #4D5AE5;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.workcards-link:hover .cards-text,
.workcards-link:focus .cards-text {
    transform: translateY(-100%);
}

/* Modal window */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding-top: 72px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    width: 408px;
    height: 576px;

    background-color: #FCFCFC;
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
    position: relative;
    display: inline-block;
    margin-bottom: 8px;
}

.modal-subtitle {
    margin: 0;
    margin-bottom: 16px;
    
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}

.icon-username {
    position: absolute;
    left: 16px;
    bottom: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-phone {
    position: absolute;
    bottom: 8px;
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-email {
    position: absolute;
    left: 16px;
    bottom: 8px;
    
}

.username span,
.phonenumber span, 
.email span,
.comment span {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    font-weight: 400;
    color: #8E8F99;
}

.input-data {
    position: relative;

    width: 360px;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding-left: 34px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-data:focus,
.input-data:focus ~ .icon-email,
.input-data:focus ~ .icon-phone,
.input-data:focus ~ .icon-username {
    border-color: #4D5AE5;
    fill: #4D5AE5;
}

.comment,
.checkbox {
    display: inline-block;
}

.textarea {
    width: 360px;
    height: 120px;
    padding: 8px 16px;

    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    outline: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
}

.textarea:focus {
    border: 1px solid #4D5AE5;
    color: inherit;
    font-size: inherit;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 24px;
}

.checkbox .privacy-policy {
    color: #4D5AE5;
}

.checkbox span {
    color: #757575;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
}

.checkbox-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;

    width: 16px;
    height: 16px;

    border: 1.25px solid #2E2F42;
    border-radius: 2px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .checkbox-icon{
    background-color: #4D5AE5;
    border: transparent;
}   

.checkbox-input {
    appearance: none;
}

.modal-submit {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

    width: 170px;
    height: 51px;
    padding: 16px 32px;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;

    color: #FFFFFF;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit:hover,
.modal-submit:focus {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/* кнопка close */
.modal-close {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(360px, 24px);
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    cursor: pointer;
    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    border: transparent;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
}





























/* overlay */
/* .overlay{
    position: relative;
    overflow: hidden;
}

.cards-text1 {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    transition: transform 250ms linear;
    transform: translateY(100%);
    background-color:#4D5AE5;
    opacity: 0;
}

.workcards-link:hover .cards-text1 {
    opacity: 1;
    transform: translateY(0%);
} */